:root {
  --main-bg: hsl(20, 100%, 97%);
  --primary-colour: hsl(16, 33%, 78%);
  --secondary-colour: hsl(16, 32%, 63%);
  --gap-lg: 3rem;
  --gap-std: 2rem;
  --gap-sm: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  row-gap: var(--gap-lg);
}

main {
  height: 80vh;
  max-width: 600px;
  row-gap: var(--gap-lg);
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--primary-colour);
  width: 100%;
}

.content__input {
  height: 15vh;
}

.content__status {
  height: 15vh;
}

.content__output {
  height: 30vh;
}

.hidden {
  display: none;
}
