:root {
  --main-bg: hsl(20, 100%, 97%);
  --primary-colour: hsl(16, 33%, 78%);
  --secondary-colour: hsl(16, 32%, 63%);
  --font-colour: hsl(16, 95%, 8%);
  --gap-lg: 3rem;
  --gap-std: 2rem;
  --gap-sm: 1rem;
  --main-font: "Lobster";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  row-gap: var(--gap-lg);
}
header {
  height: 20vh;
  width: 100%;
  padding-top: 2.5rem;
}

main {
  height: 80vh;
  max-width: 600px;
  row-gap: var(--gap-lg);
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--primary-colour);
  width: 100%;
}

.content__input {
  min-height: 15vh;
}

.content__status {
  min-height: 15vh;
}

.content__output {
  height: 30vh;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

h1 {
  font-family: var(--main-font);
  font-size: 3rem;
  color: var(--font-colour);
}

h1,
label,
input p,
p,
h2 {
  color: var(--font-colour);
}

/* .content__output--figure {
  max-width: 70%;
  max-height: 100%; 
} */

#content__output--img {
  width: 50%;
  object-fit: cover;
}

.companyName {

}

.margin-sm {
  margin: var(--gap-sm);
}
.btn {
  border: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: green;
  color: white;
}

.content__output--aside {
  width: 50%;
  height: 100%;
  padding: 2rem;
}

footer{
  margin-bottom: 2rem;
}

.loadingbar{
  background-color: green;
  height: 30px;
  animation: loading 10s linear infinite;
}

@keyframes loading {
  from {width: 0;}
  to {width: 50%;}
}